@model IEnumerable<WebKursovaya.Models.Должности>

@{
    ViewData["Title"] = "Должности";
}

<h1>Должности</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Создать новую запись</a>
</p>
<div class="sptable">
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Название_должности)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Название_должности)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Код_должности" class="btn btn-primary">Редактировать</a> |
                    <a asp-action="Details" asp-route-id="@item.Код_должности" class="btn btn-success">Подробности</a> |
                    <a asp-action="Delete" asp-route-id="@item.Код_должности" class="btn btn-danger">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
