@model WebKursovaya.Models.Запись_на_практический_экзамен

@{
    ViewData["Title"] = "Удаление записи";
}

<h1>Удаление</h1>

<h3>Вы уверены что хотите удалить данную запись?</h3>
<div>
    <h4>Запись на практический экзамен</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Дата_записи)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Дата_записи)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Заявитель)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ЗаявительФИО)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Категория)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Категория.Наименование_категории_ТС)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Код_записи" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-dark">Вернуться к списку</a>
    </form>
</div>
