@model IEnumerable<WebKursovaya.Models.Запись_на_практический_экзамен>

@{
    ViewData["Title"] = "Запись на практический экзамен";
}

<h1>Запись на практический экзамен</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Создать новую запись</a>
</p>
<div class="sptable">
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Заявитель)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Категория)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Дата_записи)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.ЗаявительФИО)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Категория.Наименование_категории_ТС)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Дата_записи)
                </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Код_записи" class="btn btn-primary">Редактировать</a> |
                    <a asp-action="Details" asp-route-id="@item.Код_записи" class="btn btn-success">Подробности</a> |
                    <a asp-action="Delete" asp-route-id="@item.Код_записи" class="btn btn-danger">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
